# Core ML Stack
joblib==1.5.2
matplotlib==3.10.6
numpy==2.3.3
pandas==2.3.2
scikit-learn==1.7.2
seaborn==0.13.2
tqdm==4.67.1
xgboost==3.2.0
lightgbm

# Audio Processing
librosa
soundfile
audioread

# UI and Deployment
streamlit
huggingface-hub
